Repository git-marvel/commit-guardians-client, pull requests merged in 2024-12, with the labels that each got.

#116 design: 시스템 디스플레이 설정에 따라 깨진 레이아웃 수정
  src/features/commit/components/CommitMessageValue.jsx
  src/features/commit/components/CommitTypeValue.jsx
  src/features/commitBadge/components/CopyBadgeButton.jsx
  src/pages/Home/components/Title.jsx
  src/pages/Home/index.jsx
  src/pages/MyCommitBadge/components/ChartContainer.jsx
  src/pages/MyCommitBadge/components/Guide.jsx
  src/pages/MyCommitBadge/index.jsx
  src/pages/MyCommitScoreboard/components/ScoreBoardRow.jsx
  src/shared/components/Badge.jsx
  src/shared/components/CopyIcon.jsx
  src/shared/components/Footer.jsx
  src/shared/components/HomeButton.jsx
  src/shared/components/Loading.jsx
  src/shared/styles/global.css
Labels: design

#117 fix: changes의 barGraph의 길이가 최대 width 보다 큰 경우 비율로 표시
  src/features/commit/components/ChangesValue.jsx
  src/shared/components/BarGraph.jsx
Labels: fix

#118 test: getCommitSummary 커밋목록을 받아 총점을 계산하는 로직 테스트 코드 작성
  src/entities/score/services/__tests__/getCommitSummary.test.js
Labels: test

#119 test: home api 에 대한 테스트코드 pass 하도록 작성
  src/pages/Home/api/__tests__/api.test.js
Labels: test
